In [49]:
import pandas as pd

# Încarcă fișierul JSON
data = pd.read_json('login_users.json')

# Accesează lista de utilizatori
users = data['users']

In [124]:
data = pd.read_csv('APA_PR\procesed_data.csv')

In [117]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70 entries, 0 to 69
Data columns (total 28 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                70 non-null     int64
 1   Gender            70 non-null     int64
 2   Age               70 non-null     int64
 3   Height            70 non-null     int64
 4   Hair_Color        70 non-null     object
 5   Preferred_Gender  70 non-null     int64
 6   Location          70 non-null     object
 7   Photo_Path        70 non-null     object
 8   Age_Min           70 non-null     int64
 9   Age_Max           70 non-null     int64
 10  cooking           70 non-null     int64
 11  dancing           70 non-null     int64
 12  drawing           70 non-null     int64
 13  games             70 non-null     int64
 14  gardening         70 non-null     int64
 15  hiking            70 non-null     int64
 16  movies            70 non-null     int64
 17  music             70 non-null     int64
 18  photography       70 non-null     int64
 19  reading           70 non-null     int64
 20  sports            70 non-null     int64
 21  swimming          70 non-null     int64
 22  travel            70 non-null     int64
 23  video             70 non-null     int64
 24  yoga              70 non-null     int64
 25  Vector_X          70 non-null     float64
 26  Vector_Y          70 non-null     float64
 27  Vector_Z          70 non-null     float64
dtypes: float64(3), int64(22), object(3)
memory usage: 15.4+ KB

In [118]:
columns = data.columns.tolist()
print(len(columns))

28

In [105]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70 entries, 0 to 69
Data columns (total 28 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                70 non-null     int64
 1   Gender            70 non-null     int64
 2   Age               70 non-null     int64
 3   Height            70 non-null     int64
 4   Hair_Color        70 non-null     object
 5   Preferred_Gender  70 non-null     int64
 6   Location          70 non-null     object
 7   Photo_Path        70 non-null     object
 8   Age_Min           70 non-null     int64
 9   Age_Max           70 non-null     int64
 10  cooking           70 non-null     int64
 11  dancing           70 non-null     int64
 12  drawing           70 non-null     int64
 13  games             70 non-null     int64
 14  gardening         70 non-null     int64
 15  hiking            70 non-null     int64
 16  movies            70 non-null     int64
 17  music             70 non-null     int64
 18  photography       70 non-null     int64
 19  reading           70 non-null     int64
 20  sports            70 non-null     int64
 21  swimming          70 non-null     int64
 22  travel            70 non-null     int64
 23  video             70 non-null     int64
 24  yoga              70 non-null     int64
 25  Vector_X          70 non-null     float64
 26  Vector_Y          70 non-null     float64
 27  Vector_Z          70 non-null     float64
dtypes: float64(3), int64(22), object(3)
memory usage: 15.4+ KB

In [127]:
columns = data.columns.tolist()
print(len(columns))

29

In [82]:
all_interests = list(data.columns[10:-3])

In [106]:
all_interests

['cooking',
 'dancing',
 'drawing',
 'games',
 'gardening',
 'hiking',
 'movies',
 'music',
 'photography',
 'reading',
 'sports',
 'swimming',
 'travel',
 'video',
 'yoga',
 'painting']

In [155]:
data = pd.read_csv('APA_PR\procesed_data.csv')

In [159]:
import pandas as pd

# Creăm un DataFrame inițial cu datele utilizatorilor existenți (pentru demonstrație)

# Lista globală a intereselor (luăm coloanele corespunzătoare intereselor)
  
all_interests = list(data.columns[10:-3])

# Datele unui utilizator nou
new_user = {
    "ID": 5,
    "Age": 29,
    "Height": 185,
    "Hair_Color": "Brown",
    "interest": "sports, music, painting, wafsdfsdf",  # Interesele ca un singur string
    "Preferred_Gender": 0,
    "Gender": 1,
    "Location": "Iasi",
    "Photo_Path": "...",
    "Age_Min": 25,
    "Age_Max": 35,
    "Vector_X": 0.654321,
    "Vector_Y": 0.234567,
    "Vector_Z": 0.789012
}

# Separăm interesele într-o listă
user_interest_list = [interest.strip() for interest in new_user["interest"].split(",")]

# Verificăm și actualizăm lista globală a intereselor
new_interests = set(user_interest_list) - set(all_interests)
print(f"Interese noi: {new_interests}")
for interest in new_interests:
    data.insert(len(data.columns) - 4, interest, 0)

all_interests = list(data.columns[10:-3])
# Funcția care transformă interesele în format binar
def binarize_interests(user_interest, all_interests):
    return [1 if interest in user_interest else 0 for interest in all_interests]

# Construim un rând pentru noul utilizator
new_user_row = [
    new_user["ID"],
    new_user["Gender"],
    new_user["Age"],
    new_user["Height"],
    new_user["Hair_Color"],
    new_user["Preferred_Gender"],
    new_user["Location"],
    new_user["Photo_Path"],
    new_user["Age_Min"],
    new_user["Age_Max"]
] + binarize_interests(user_interest_list, all_interests) + [
    new_user["Vector_X"],
    new_user["Vector_Y"],
    new_user["Vector_Z"]
    
]

# Actualizăm lista de coloane pentru a include noile coloane de interese
columns = [col for col in data.columns.tolist() if col not in ["Vector_X", "Vector_Y", "Vector_Z"]]
columns = columns + ["Vector_X", "Vector_Y", "Vector_Z"]

# Verificăm că numărul de coloane corespunde numărului de valori
print(f"Număr coloane: {len(columns)}")
print(f"Număr valori: {len(new_user_row)}")

# Adăugăm noul utilizator în DataFrame
new_user_df = pd.DataFrame([new_user_row], columns=columns)
data = pd.concat([data, new_user_df], ignore_index=True)

# Afișăm noul DataFrame
print(data)

Interese noi: {'wafsdfsdf'}
Număr coloane: 30
Număr valori: 30
    ID  Gender  Age  Height Hair_Color  Preferred_Gender   Location  \
0    1       1   25     180      Brown                 0  Bucharest
1    2       0   22     165     Blonde                 1       Cluj
2    3       0   30     170      Black                 1  Timisoara
3    4       1   28     175        Red                 0     Brasov
4    5       0   24     160      Brown                 1  Constanta
..  ..     ...  ...     ...        ...               ...        ...
67  68       1   29     170      Brown                 0  Timisoara
68  69       0   24     163        Red                 1       Cluj
69  70       1   30     180      Black                 0  Bucharest
70   5       1   29     185      Brown                 0       Iasi
71   5       1   29     185      Brown                 0       Iasi

                                           Photo_Path  Age_Min  Age_Max  ...  \
0                                                ....       20       30  ...
1             https://i.postimg.cc/tgYMHvM9/img2.webp       20       35  ...
2   https://i.postimg.cc/0yrCwhgX/DALL-E-2025-01-1...       25       40  ...
3             https://i.postimg.cc/qB5q7FLv/img4.webp       22       32  ...
4             https://i.postimg.cc/g0gdTwt2/img5.webp       20       30  ...
..                                                ...      ...      ...  ...
67                                  photos/user68.jpg       25       34  ...
68                                  photos/user69.jpg       21       30  ...
69                                  photos/user70.jpg       26       38  ...
70                                                ...       25       35  ...
71                                                ...       25       35  ...

    sports  swimming  travel  video  painting  wafsdfsdf  yoga  Vector_X  \
0        1         0       0      0         0          0     0  0.641205
1        0         0       1      0         0          0     0  0.627698
2        0         0       0      0         0          0     0  0.650408
3        0         0       0      0         0          0     0  0.630333
4        0         0       0      0         0          0     1  0.629380
..     ...       ...     ...    ...       ...        ...   ...       ...
67       0         0       0      0         0          0     0  0.650408
68       0         0       0      0         0          0     0  0.627698
69       0         0       1      0         0          0     0  0.641205
70       1         0       0      0         1          0     0  0.654321
71       1         0       0      0         1          1     0  0.654321

    Vector_Y  Vector_Z
0   0.314161  0.700114
1   0.274104  0.728603
2   0.252613  0.716349
3   0.302148  0.715114
4   0.343873  0.696874
..       ...       ...
67  0.252613  0.716349
68  0.274104  0.728603
69  0.314161  0.700114
70  0.234567  0.789012
71  0.234567  0.789012

[72 rows x 30 columns]

In [160]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 30 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                72 non-null     int64
 1   Gender            72 non-null     int64
 2   Age               72 non-null     int64
 3   Height            72 non-null     int64
 4   Hair_Color        72 non-null     object
 5   Preferred_Gender  72 non-null     int64
 6   Location          72 non-null     object
 7   Photo_Path        72 non-null     object
 8   Age_Min           72 non-null     int64
 9   Age_Max           72 non-null     int64
 10  cooking           72 non-null     int64
 11  dancing           72 non-null     int64
 12  drawing           72 non-null     int64
 13  games             72 non-null     int64
 14  gardening         72 non-null     int64
 15  hiking            72 non-null     int64
 16  movies            72 non-null     int64
 17  music             72 non-null     int64
 18  photography       72 non-null     int64
 19  reading           72 non-null     int64
 20  sports            72 non-null     int64
 21  swimming          72 non-null     int64
 22  travel            72 non-null     int64
 23  video             72 non-null     int64
 24  painting          72 non-null     int64
 25  wafsdfsdf         72 non-null     int64
 26  yoga              72 non-null     int64
 27  Vector_X          72 non-null     float64
 28  Vector_Y          72 non-null     float64
 29  Vector_Z          72 non-null     float64
dtypes: float64(3), int64(24), object(3)
memory usage: 17.0+ KB

In [161]:
print(set(user_interest_list) - set(all_interests))

set()

In [162]:
all_interests

['cooking',
 'dancing',
 'drawing',
 'games',
 'gardening',
 'hiking',
 'movies',
 'music',
 'photography',
 'reading',
 'sports',
 'swimming',
 'travel',
 'video',
 'painting',
 'wafsdfsdf',
 'yoga']

In [126]:
columns # lipsete cooking,dancing,drawing,games,gardening,

['ID',
 'Gender',
 'Age',
 'Height',
 'Hair_Color',
 'Preferred_Gender',
 'Location',
 'Photo_Path',
 'Age_Min',
 'Age_Max',
 'cooking',
 'dancing',
 'drawing',
 'games',
 'gardening',
 'hiking',
 'movies',
 'music',
 'photography',
 'reading',
 'sports',
 'swimming',
 'travel',
 'video',
 'yoga',
 'painting',
 'Vector_X',
 'Vector_Y',
 'Vector_Z']

In [96]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 29 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                71 non-null     int64
 1   Gender            71 non-null     int64
 2   Age               71 non-null     int64
 3   Height            71 non-null     int64
 4   Hair_Color        71 non-null     object
 5   Preferred_Gender  71 non-null     int64
 6   Location          71 non-null     object
 7   Photo_Path        71 non-null     object
 8   Age_Min           71 non-null     int64
 9   Age_Max           71 non-null     int64
 10  cooking           71 non-null     int64
 11  dancing           71 non-null     int64
 12  drawing           71 non-null     int64
 13  games             71 non-null     int64
 14  gardening         71 non-null     int64
 15  hiking            71 non-null     int64
 16  movies            71 non-null     int64
 17  music             71 non-null     int64
 18  photography       71 non-null     int64
 19  reading           71 non-null     int64
 20  sports            71 non-null     int64
 21  swimming          71 non-null     int64
 22  travel            71 non-null     int64
 23  video             71 non-null     int64
 24  yoga              71 non-null     int64
 25  Vector_X          71 non-null     float64
 26  Vector_Y          71 non-null     float64
 27  Vector_Z          71 non-null     float64
 28  painting          71 non-null     int64
dtypes: float64(3), int64(23), object(3)
memory usage: 16.2+ KB

In [81]:
all_interests

['hiking',
 'movies',
 'music',
 'photography',
 'reading',
 'sports',
 'travel',
 'painting']

In [44]:
user_interest_list

['sports', 'music', 'painting']

In [40]:
columns = [col for col in data.columns.tolist() if col not in ["Vector_X", "Vector_Y", "Vector_Z"]]
columns = columns + ["Vector_X", "Vector_Y", "Vector_Z"]

In [43]:
new_user_df

,ID,Gender,Age,Height,Hair_Color,Preferred_Gender,Location,Photo_Path,Age_Min,Age_Max,...,movies,music,photography,reading,sports,travel,painting,Vector_X,Vector_Y,Vector_Z
0,5,1,29,185,Brown,0,Iasi,...,25,35,...,0,1,0,0,1,0,1,0.654321,0.234567,0.789012

In [38]:
data.columns.tolist()

['ID',
 'Gender',
 'Age',
 'Height',
 'Hair_Color',
 'Preferred_Gender',
 'Location',
 'Photo_Path',
 'Age_Min',
 'Age_Max',
 'hiking',
 'movies',
 'music',
 'photography',
 'reading',
 'sports',
 'travel',
 'Vector_X',
 'Vector_Y',
 'Vector_Z',
 'painting']

In [41]:
columns

['ID',
 'Gender',
 'Age',
 'Height',
 'Hair_Color',
 'Preferred_Gender',
 'Location',
 'Photo_Path',
 'Age_Min',
 'Age_Max',
 'hiking',
 'movies',
 'music',
 'photography',
 'reading',
 'sports',
 'travel',
 'painting',
 'Vector_X',
 'Vector_Y',
 'Vector_Z']

In [23]:
data.painting

0    0
1    0
2    0
3    0
Name: painting, dtype: int64

In [ ]:
import pandas as pd



# Adaugă un nou rând la final
new_row = [0] * len(interactions_matrix.columns)  # Toate valorile sunt 0
interactions_matrix.loc[len(interactions_matrix) + 1] = new_row

# Adaugă o nouă coloană la final
new_column = [0] * len(interactions_matrix)  # Toate valorile sunt 0
interactions_matrix[len(interactions_matrix.columns) + 1] = new_column

# Salvează rezultatul înapoi într-un fișier CSV (opțional)
interactions_matrix.to_csv('APA_PR\interact.csv')

    1  2  3  4  5  6  7  8  9  10  ...  62  63  64  65  66  67  68  69  70  71
1   0  0  0  0  1  0  1  0  0   0  ...   0   0   0   1   0   0   0   1   0   0
2   0  0  0  0  0  0  0  0  0   0  ...   0   0   0   0   0   0   0   0   0   0
3   0  0  0  0  0  0  0  0  0   0  ...   0   0   0   0   0   0   0   0   0   0
4   0  0  0  0  0  0  0  0  0   0  ...   0   0   0   0   0   0   0   0   0   0
5   1  0  0  0  0  0  0  0  0   0  ...   0   0   0   0   0   0   0   0   0   0
.. .. .. .. .. .. .. .. .. ..  ..  ...  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
67  0  0  0  0  0  0  0  0  0   0  ...   0   0   0   0   0   0   0   0   0   0
68  0  0  0  0  0  0  0  0  0   0  ...   0   0   0   0   0   0   0   0   0   0
69  0  0  0  0  0  0  0  0  0   0  ...   0   0   0   0   0   0   0   0   0   0
70  0  0  0  0  0  0  0  0  0   0  ...   0   0   0   0   0   0   0   0   0   0
71  0  0  0  0  0  0  0  0  0   0  ...   0   0   0   0   0   0   0   0   0   0

[71 rows x 71 columns]

In [ ]:
import pandas as pd

# Crearea DataFrame-ului


df = pd.read_csv('APA_PR\procesed_data.csv')

# Identificăm automat coloanele care reprezintă interese
def identify_interest_columns(dataframe):
    # Selectăm coloanele cu valori binare (0 și 1) care nu sunt categorice evidente
    interest_columns = [
        column for column in dataframe.columns
        if dataframe[column].dropna().isin([0, 1]).all()  # Verifică dacă toate valorile sunt 0 sau 1
        and column not in ["ID", "Gender", "Preferred_Gender"]
    ]
    return interest_columns

interests_columns = identify_interest_columns(df)

# Funcție pentru a extrage interesele unei persoane
def extract_interests(row, interests_columns):
    interests = [interest for interest in interests_columns if row[interest] == 1]
    return ", ".join(interests)  # Interesele vor fi returnate sub formă de string, separate prin virgulă

# Aplicăm funcția pe fiecare rând
df["Interests"] = df.apply(lambda row: extract_interests(row, interests_columns), axis=1)

    ID             Interests
0    1         music, sports
1    2       reading, travel
2    3       cooking, movies
3    4   hiking, photography
4    5           music, yoga
..  ..                   ...
66  67          travel, yoga
67  68        music, reading
68  69  cooking, photography
69  70       dancing, travel
70  71          music, sport

[71 rows x 2 columns]

In [5]:
print(df[df["ID"] == 1]["Interests"].values[0])

music, sports

In [24]:

# Actualizăm lista de coloane pentru a include noile coloane de interese
columns = data.columns.tolist() + [interest for interest in new_interests] 

# Verificăm că numărul de coloane corespunde numărului de valori
print(f"Număr coloane: {len(columns)}")
print(f"Număr valori: {len(new_user_row)}")

# Adăugăm noul utilizator în DataFrame
new_user_df = pd.DataFrame([new_user_row], columns=columns)
data = pd.concat([data, new_user_df], ignore_index=True)

# Afișăm noul DataFrame
print(data)

Număr coloane: 22
Număr valori: 21

ValueError: 22 columns passed, passed data had 21 columns

In [19]:
new_interests

{'painting'}

In [9]:
user_interest_list

['sports', 'music', 'painting']

In [21]:
new_user_df

NameError: name 'new_user_df' is not defined

In [25]:
columns

['ID',
 'Gender',
 'Age',
 'Height',
 'Hair_Color',
 'Preferred_Gender',
 'Location',
 'Photo_Path',
 'Age_Min',
 'Age_Max',
 'hiking',
 'movies',
 'music',
 'photography',
 'reading',
 'sports',
 'travel',
 'Vector_X',
 'Vector_Y',
 'Vector_Z',
 'painting',
 'painting']

In [7]:
data.columns.tolist()

['ID',
 'Gender',
 'Age',
 'Height',
 'Hair_Color',
 'Preferred_Gender',
 'Location',
 'Photo_Path',
 'Age_Min',
 'Age_Max',
 'hiking',
 'movies',
 'music',
 'photography',
 'reading',
 'sports',
 'travel',
 'Vector_X',
 'Vector_Y',
 'Vector_Z',
 'painting']

In [17]:
data[::-1]

,ID,Gender,Age,Height,Hair_Color,Preferred_Gender,Location,Photo_Path,Age_Min,Age_Max,...,reading,sports,swimming,travel,video,yoga,Vector_X,Vector_Y,Vector_Z,painting
70,71,1,29,185,Brown,0,Unknown,https://example.com/photo.jpg,25,35,...,0,1,0,0,0,0,1.000000,0.654321,0.234567,0.789012
69,70,1,30,180,Black,0,Bucharest,photos/user70.jpg,26,38,...,0,0,0,1,0,0,0.641205,0.314161,0.700114,0.000000
68,69,0,24,163,Red,1,Cluj,photos/user69.jpg,21,30,...,0,0,0,0,0,0,0.627698,0.274104,0.728603,0.000000
67,68,1,29,170,Brown,0,Timisoara,photos/user68.jpg,25,34,...,1,0,0,0,0,0,0.650408,0.252613,0.716349,0.000000
66,67,0,25,165,Blonde,1,Iasi,photos/user67.jpg,22,29,...,0,0,0,1,0,1,0.602649,0.314840,0.733274,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,5,0,24,160,Brown,1,Constanta,https://i.postimg.cc/g0gdTwt2/img5.webp,20,30,...,0,0,0,0,0,1,0.629380,0.343873,0.696874,0.000000
3,4,1,28,175,Red,0,Brasov,https://i.postimg.cc/qB5q7FLv/img4.webp,22,32,...,0,0,0,0,0,0,0.630333,0.302148,0.715114,0.000000
2,3,0,30,170,Black,1,Timisoara,https://i.postimg.cc/0yrCwhgX/DALL-E-2025-01-1...,25,40,...,0,0,0,0,0,0,0.650408,0.252613,0.716349,0.000000
1,2,0,22,165,Blonde,1,Cluj,https://i.postimg.cc/tgYMHvM9/img2.webp,20,35,...,1,0,0,1,0,0,0.627698,0.274104,0.728603,0.000000
0,1,1,25,180,Brown,0,Bucharest,....,20,30,...,0,1,0,0,0,0,0.641205,0.314161,0.700114,0.000000

In [2]:
users

0     {'ID': 1, 'Email': 'john.doe25@gmail.com', 'Nu...
1     {'ID': 2, 'Email': 'emma.jones22@gmail.com', '...
2     {'ID': 3, 'Email': 'sophia.wilson30@gmail.com'...
3     {'ID': 4, 'Email': 'james.smith28@gmail.com', ...
4     {'ID': 5, 'Email': 'mia.brown24@gmail.com', 'N...
                            ...
65    {'ID': 66, 'Email': 'sophia.jones28@gmail.com'...
66    {'ID': 67, 'Email': 'amelia.taylor29@gmail.com...
67    {'ID': 68, 'Email': 'oliver.wilson30@gmail.com...
68    {'ID': 69, 'Email': 'lucas.clark31@gmail.com',...
69    {'ID': 70, 'Email': 'mia.bennett22@gmail.com',...
Name: users, Length: 70, dtype: object

In [5]:
import pandas as pd

# Încarcă fișierul JSON cu utilizatori
data = pd.read_json('login_users.json')
users = data['users']

def recommend_users_by_id(user_id, data, similarity_matrix, interactions_matrix):
    recommended_users = []

    # Căutăm utilizatorul în funcție de ID
    for user_data in users:
        if user_data['ID'] == user_id:
            # Calculăm recomandările pentru utilizatorul respectiv (aici se poate aplica logica ta de similaritate)
            # De exemplu, adăugăm utilizatori recomandati
            recommended_users.append({
                'ID': user_data['ID'],
                'Name': user_data['Nume'],  # Folosește 'Nume' în loc de 'Name'
                'Prenume': user_data['Prenume'],  # Dacă vrei și prenumele
                'Email': user_data['Email'],
                'Location': user_data.get('Location', 'Unknown'),  # Asigură-te că ai câmpul 'Location' dacă este relevant
            })
    
    # Poți returna lista de utilizatori recomandati
    return recommended_users

# Exemplu de utilizare a funcției
user_id = 1  # ID-ul utilizatorului pentru care vrei recomandările
similarity_matrix = []  # Poți adăuga logica ta pentru similaritate
interactions_matrix = []  # Poți adăuga logica ta pentru interacțiuni

recommended_users = recommend_users_by_id(user_id, data, similarity_matrix, interactions_matrix)

# Afișează utilizatorii recomandați
print(recommended_users)

[{'ID': 1, 'Name': 'John', 'Prenume': 'Doe', 'Email': 'john.doe25@gmail.com', 'Location': 'Unknown'}]

In [ ]:
data[1]

In [ ]:
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chiupi-pupi Dating Site - Dating</title>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        /* Banner */
        .small-banner {
            height: 15%;
            padding: 10px 20px;
            background-color: #ff7f7f;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .small-banner__content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }

        .small-logo {
            max-height: 70px;
            width: auto;
            animation: bounce 1.5s infinite; /* Animarea logo-ului */
        }

        .site-name {
            font-family: 'Dancing Script', cursive;
            font-size: 2rem; /* Dimensiune egală cu logo-ul */
            font-weight: bold;
            color: white;
            margin-left: 10px;
        }

        /* Linkuri de navigare */
        .nav-link {
            font-size: 18px;
            color: white;
            text-decoration: none;
            font-weight: bold;
            transition: color 0.3s ease;
        }

        .nav-link.active {
            color: black;
        }

        .nav-link:hover {
            color: #ffe5e5;
        }

        /* Divider */
        .divider {
            width: 100%;
            height: 2px;
            background-color: #ccc;
            margin: 0;
        }

        /* Pagina de dating */
        .dating-page {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 50px; /* Caseta mai jos */
            gap: 20px;
        }

        .photo-container {
            width: 400px; /* Lățime mai mare */
            height: 550px; /* Înălțime mai mare */
            border: 2px solid #ddd;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        }

        .profile-photo {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        /* Butoane */
        .action-buttons {
            display: flex;
            gap: 20px;
        }

        .dislike-button,
        .like-button {
            width: 190px; /* Dimensiuni potrivite pentru butoane */
            height: 60px;
            font-size: 20px;
            font-weight: bold;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: transform 0.2s;
        }

        .dislike-button {
            background-color: #dc3545;
        }

        .like-button {
            background-color: #007bff;
        }

        .dislike-button:hover,
        .like-button:hover {
            transform: scale(1.1);
        }

        /* Animația logo-ului */
        @keyframes bounce {
            0%, 100% {
                transform: translateY(0);
            }
            50% {
                transform: translateY(-10px);
            }
        }
    </style>
</head>
<body>
    <!-- Banner -->
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: transform 0.2s;
        }

        .dislike-button {
            background-color: #dc3545;
        }

        .like-button {
            background-color: #007bff;
        }

        .dislike-button:hover,
        .like-button:hover {
            transform: scale(1.1);
        }

        /* Animația logo-ului */
        @keyframes bounce {
            0%, 100% {
                transform: translateY(0);
            }
            50% {
                transform: translateY(-10px);
            }
        }
    </style>
</head>
<body>
    <!-- Banner -->
    <div class="banner small-banner">
        <div class="small-banner__content">
            <div style="display: flex; align-items: center;">
                <a href="/"><img src="{{ url_for('static', filename='images/logo.png') }}" class="small-logo" alt="Logo Chiupi-pupi"></a>
                <a href="/" class="site-name">Chiupi-pupi</a>
            </div>
            <nav class="navigation-links">
                <a href="#" class="nav-link active">Dating</a>
                <a href="#" class="nav-link">Prieteni</a>
                <a href="#" class="nav-link">Profil</a>
            </nav>
        </div>
    </div>

    <div class="divider"></div>

    <!-- Pagina de dating -->
    <div class="dating-page">
        <div class="photo-container">
            <img src="{{ url_for('static', filename='images/photo1.jpg') }}" alt="Profil sugerat" class="profile-photo" id="profile-photo">
        </div>
        <div class="action-buttons">
            <button class="dislike-button" id="dislike-button">Dislike</button>
            <button class="like-button" id="like-button">Like</button>
        </div>
    </div>

    
</body>
</html>

In [ ]:
user_ids = data['ID'].tolist()
interactii = pd.DataFrame(0, index=user_ids, columns=user_ids)
interactii.to_csv("APA/interact.csv")

In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('APA_PR/dating_data.csv')

In [3]:
user_ids = data['ID'].tolist()
interactii = pd.DataFrame(0, index=user_ids, columns=user_ids)
interactii.to_csv("APA_PR/interact.csv")